<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>后台信息管理系统</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />

<!-- Toastr style -->
<link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet"/>

<link th:href="@{/css/style.css}" rel="stylesheet" />

<!-- summernote style -->
<link th:href="@{/css/plugins/summernote/summernote.css}" rel="stylesheet" />
<link th:href="@{/css/plugins/summernote/summernote-bs3.css}" rel="stylesheet" />

</head>

<body>

    <div id="wrapper">
		<nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
		<div id="page-wrapper" class="gray-bg">
        	<div class="border-bottom" th:include="header :: headerTop"></div>
      		<div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
		   		<div class="col-lg-10">
		     		<h2>用户管理</h2>
		          	<ol class="breadcrumb">
			            <li>
			            	<a href="#">首页</a>
			            </li>
			            <li>
			            	<a>用户管理</a>
			         	</li>

			          	<li class="active">
			             	<strong>用户/权限查询</strong>
			          	</li>
					</ol>
		      	</div>
		      	<div class="col-lg-2">
		      	</div>
		  	</div>
        	<div class="wrapper wrapper-content animated fadeInRight">



                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>您的角色</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content" style="display: block;">
                                <div class="row">
                                    <h2 th:text="${session.role}">管理员</h2>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>您拥有的权限</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class=" table table-hover" data-page-size="12">
                                        <thead>
                                        <tr>
                                            <th width="10%">权限名称</th>
                                            <th width="10%">权限描述</th>
                                            <th width="10%">权限菜单编号</th>
                                            <th width="60%">权限url</th>
                                            <th width="10%">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="permission : ${permissionList}">
                                            <td th:text="${permission.name}">Onions</td>
                                            <td th:text="${permission.descpt}">Onions</td>
                                            <td th:text="${permission.code}">Onions</td>
                                            <td th:text="${permission.page}">Onions</td>
                                            <td>
                                                <a th:href="@{'userPermissionEdit?id='+${permission.id}}" title="修改"><i class="fa fa-edit text-navy"></i></a>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        	<div class="footer" th:include="footer :: copyright"></div>
      	</div>
	</div>

	
    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	
    <!-- Peity -->
    <script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>
    
    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>
    
    <!-- Toastr script -->
    <script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>
    
    <!-- common -->
    <script th:src="@{/js/common.js}"></script>
    
    <!-- SUMMERNOTE -->
    <script th:src="@{/js/plugins/summernote/summernote.min.js}"></script>
    

    
    <script th:inline="javascript">

		$(document).ready(function () {
			//提交
			$("#submitButton").click(function(){

				$("#formTag").submit();
			});
		});
    </script>

</body>

</html>
