<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="category" th:fragment="category">

    <div class='header-bottom'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-3 col-2'>
                    <div id='mega-menu'>
                        <div class='btn-mega'><span></span>分类</div>
                        <ul class='menu'>
                            <li>
                                <a href='#' title=''>
                                        <span class='menu-img'>
                                            <img src='/images/icons/menu/02.png' alt=''>
                                        </span>
                                    <span class='menu-title'>
                                            Mobile & Tablet
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href='#' title=''>
                                        <span class='menu-img'>
                                            <img src='/images/icons/menu/05.png' alt=''>
                                        </span>
                                    <span class='menu-title'>
                                            TV & Audio
                                        </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.col-md-3 col-2 -->
                <div class='col-md-9 col-10'>
                    <div class='nav-wrap'>
                        <div id='mainnav' class='mainnav'>
                            <ul class='menu'>
                                <li class='column-1'>
                                    <a href='/index' title=''>Home</a>
                                </li>
                            </ul><!-- /.menu -->
                        </div><!-- /.mainnav -->
                    </div><!-- /.nav-wrap -->
                    <div class='today-deal'>
                        <a href='#' title=''>联系客服</a>
                    </div><!-- /.today-deal -->
                    <div class='btn-menu'>
                        <span></span>
                    </div><!-- //mobile menu button -->
                </div><!-- /.col-md-9 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.header-bottom -->

</div>