<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <div class='header-top'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-4'>
                    <ul class='flat-support'>
                        <li>
                            <a href='#' title=''>基于dubbo</a>
                        </li>
                    </ul><!-- /.flat-support -->
                </div><!-- /.col-md-4 -->
                <div class='col-md-4'>
                    <ul class='flat-infomation'>
                        <li class='phone'>
                            商城前台
                        </li>
                    </ul><!-- /.flat-infomation -->
                </div><!-- /.col-md-4 -->
                <div class='col-md-4'>
                    <ul class='flat-unstyled'>
                        <li class='account'>
                            <a href='#' title=''>我的账户<i class='fa fa-angle-down' aria-hidden='true'></i></a>
                            <ul class='unstyled'>
                                <li>
                                    <a href='http://localhost:8088/info/order' title=''>我的账户</a>
                                </li>
                                <li>
                                    <a href='http://localhost:8088/cart/cart.html' title=''>购物车</a>
                                </li>
                                <li>
                                    <a href='http://localhost:8087/page/my-account' title=''>登录</a>
                                </li>
                                <li>
                                    <a href='http://localhost:8088/order/order-cart.html' title=''>下单</a>
                                </li>
                            </ul>
                        </li>
                    </ul><!-- /.flat-unstyled -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.header-top -->
    <div class='header-middle'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-3'>
                    <div id='logo' class='logo'>
                        <a href='index' title=''>
                            <img src='/images/logos/logo.png' alt=''>
                        </a>
                    </div><!-- /#logo -->
                </div><!-- /.col-md-3 -->
                <div class='col-md-6'>
                    <div class='top-search'>
                        <form action="http://localhost:8088/search.html"  class='form-search' id="searchForm" name="query" method="GET">
                            <div class='box-search'>
                                <input type="text"  name="keyword"  placeholder="Search what you looking for ?" id="keyword" value="">
                                <span class='btn-search'>
                                        <button type='submit'  class='waves-effect'><img src='/images/icons/search.png' alt=''></button>
                                </span>
                            </div><!-- /.box-search -->
                        </form><!-- /.form-search -->
                    </div><!-- /.top-search -->
                </div><!-- /.col-md-6 -->
                <div class='col-md-3'>
                    <div class='box-cart'>
                        <div class='inner-box'>
                            <ul class='menu-compare-wishlist'>
                                <li class='compare'>
                                    <a href='#' title=''>
                                        <img src='/images/icons/compare.png' alt=''>
                                    </a>
                                </li>
                                <li class='wishlist'>
                                    <a href='wishlist.html' title=''>
                                        <img src='/images/icons/wishlist.png' alt=''>
                                    </a>
                                </li>
                            </ul><!-- /.menu-compare-wishlist -->
                        </div><!-- /.inner-box -->
                        <div class='inner-box'>
                            <a href='http://localhost:8088/cart/cart.html' title=''>
                                <div class='icon-cart'>
                                    <img  src='/images/icons/cart.png' alt=''>
                                    <span>4</span>
                                </div>
                                <div class='price'>
                                    $0.00
                                </div>
                            </a>
                        </div><!-- /.inner-box -->
                    </div><!-- /.box-cart -->
                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.header-middle -->
</div>