<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.b2b.mall.db.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="com.b2b.mall.db.model.Menu">
    <id column="MENU_ID" jdbcType="BIGINT" property="menuId" />
    <result column="PARENtb_ID" jdbcType="BIGINT" property="parentbId" />
    <result column="MENU_NAME" jdbcType="VARCHAR" property="menuName" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="ICON" jdbcType="VARCHAR" property="icon" />
    <result column="TYPE" jdbcType="CHAR" property="type" />
    <result column="ORDER_NUM" jdbcType="BIGINT" property="orderNum" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.b2b.mall.db.model.Menu">
    <result column="PERMS" jdbcType="LONGVARCHAR" property="perms" />
  </resultMap>
  <sql id="Base_Column_List">
    MENU_ID, PARENtb_ID, MENU_NAME, URL, ICON, TYPE, ORDER_NUM, CREATE_TIME, MODIFY_TIME
  </sql>
  <sql id="Blob_Column_List">
    PERMS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_menu
    where MENU_ID = #{menuId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_menu
    where MENU_ID = #{menuId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.b2b.mall.db.model.Menu">
    insert into tb_menu (MENU_ID, PARENtb_ID, MENU_NAME, 
      URL, ICON, TYPE, ORDER_NUM, 
      CREATE_TIME, MODIFY_TIME, PERMS
      )
    values (#{menuId,jdbcType=BIGINT}, #{parentbId,jdbcType=BIGINT}, #{menuName,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, #{orderNum,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{perms,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.b2b.mall.db.model.Menu">
    insert into tb_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        MENU_ID,
      </if>
      <if test="parentbId != null">
        PARENtb_ID,
      </if>
      <if test="menuName != null">
        MENU_NAME,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="icon != null">
        ICON,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="orderNum != null">
        ORDER_NUM,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="perms != null">
        PERMS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        #{menuId,jdbcType=BIGINT},
      </if>
      <if test="parentbId != null">
        #{parentbId,jdbcType=BIGINT},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="perms != null">
        #{perms,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.b2b.mall.db.model.Menu">
    update tb_menu
    <set>
      <if test="parentbId != null">
        PARENtb_ID = #{parentbId,jdbcType=BIGINT},
      </if>
      <if test="menuName != null">
        MENU_NAME = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        ICON = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=CHAR},
      </if>
      <if test="orderNum != null">
        ORDER_NUM = #{orderNum,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="perms != null">
        PERMS = #{perms,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where MENU_ID = #{menuId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.b2b.mall.db.model.Menu">
    update tb_menu
    set PARENtb_ID = #{parentbId,jdbcType=BIGINT},
      MENU_NAME = #{menuName,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      ICON = #{icon,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=CHAR},
      ORDER_NUM = #{orderNum,jdbcType=BIGINT},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      PERMS = #{perms,jdbcType=LONGVARCHAR}
    where MENU_ID = #{menuId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.b2b.mall.db.model.Menu">
    update tb_menu
    set PARENtb_ID = #{parentbId,jdbcType=BIGINT},
      MENU_NAME = #{menuName,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      ICON = #{icon,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=CHAR},
      ORDER_NUM = #{orderNum,jdbcType=BIGINT},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
    where MENU_ID = #{menuId,jdbcType=BIGINT}
  </update>
</mapper>