<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.b2b.mall.db.mapper.RolePermissionKeyMapper">
  <resultMap id="BaseResultMap" type="com.b2b.mall.db.model.RolePermissionKey">
    <id column="permit_id" jdbcType="INTEGER" property="permitId" />
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.b2b.mall.db.model.RolePermissionKey">
    delete from tb_role_permission
    where permit_id = #{permitId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.b2b.mall.db.model.RolePermissionKey">
    insert into tb_role_permission (permit_id, role_id)
    values (#{permitId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.b2b.mall.db.model.RolePermissionKey">
    insert into tb_role_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="permitId != null">
        permit_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="permitId != null">
        #{permitId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <!--=Start findByRole 根据角色查询中间表数据-->
  <select id="findByRole" resultMap="BaseResultMap">
    SELECT role_id,permit_id
    from tb_role_permission
    WHERE role_id=#{roleId}
  </select>
  <!--=End findByRole 根据角色查询中间表数据-->
</mapper>