<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.b2b.mall.db.mapper.RoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.b2b.mall.db.model.RoleMenu">
    <result column="ROLE_ID" jdbcType="BIGINT" property="roleId" />
    <result column="MENU_ID" jdbcType="BIGINT" property="menuId" />
  </resultMap>
  <insert id="insert" parameterType="com.b2b.mall.db.model.RoleMenu">
    insert into tb_role_menu (ROLE_ID, MENU_ID)
    values (#{roleId,jdbcType=BIGINT}, #{menuId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.b2b.mall.db.model.RoleMenu">
    insert into tb_role_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="menuId != null">
        MENU_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>