<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.b2b.mall.db.mapper.User_roleMapper">
  <resultMap id="BaseResultMap" type="com.b2b.mall.db.model.User_role">
    <result column="USER_ID" jdbcType="BIGINT" property="userId" />
    <result column="ROLE_ID" jdbcType="BIGINT" property="roleId" />
  </resultMap>
  <insert id="insert" parameterType="com.b2b.mall.db.model.User_role">
    insert into tb_user_role (USER_ID, ROLE_ID)
    values (#{userId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.b2b.mall.db.model.User_role">
    insert into tb_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="roleId != null">
        ROLE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>